/* 2nd Section OR About Section  */

.about-section {
    display: flex;
    height: 500px;
    width: 1320px;
    margin: 150px auto;
    justify-content: space-between;
}

.about-left {
    width: 50%;
}

.about-left>h2 {
    font-size: 34px;
    display: inline;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.about-left>p {
    margin: 20px 0;
    width: 80%;
    line-height: 30px;
}

.about-left>p>a {
    font-weight: bold;
    cursor: pointer;
    color: var(--green-color);
}


.about-left>a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
}

.about-section>.about-right {
    display: flex;
    justify-content: center;
    width: 50%;
}

.image-founder,
.image-cmo {
    margin: 0 10px;
    position: relative;
}

.image-founder>img,
.image-cmo>img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.content-founder,
.content-cmo {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.6s;
}


.content-founder:hover,
.content-cmo:hover {
    opacity: 1;
}

.content-founder>h2,
.content-cmo>h2 {
    font-size: 25px;
    margin-bottom: -5px;
    color: var(--green-color);
}

.content-founder>small,
.content-cmo>small {
    font-size: 20px;
    color: white;
}

.content-founder>*,
.content-cmo>* {
    transform: translateY(25px);
    transition: transform 0.2s;
}

.content-founder:hover>*,
.content-cmo:hover>* {
    transform: translateY(0px);
}
