/* INTERNSHIPS */

.internships {
    width: 1320px;
    margin: 100px auto;
}

.intern-title {
    width: 50%;
    margin: 50px 0;
}

.intern-title>h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.intern-title>p {
    font-weight: 300;
}

.intern-title>p>strong {
    color: grey;
}

.intern-img {
    max-width: 100%;
    height: auto;
    width: 400px;
}

.intern-icon {
    width: 20px;
    margin-right: 10px;
}

.intern-body-title {
    font-size: 27px;
    font-weight: 600;
}

.intern-location {
    display: flex;
    gap: 30px;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.intern-location>p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.intern-thumb {
    overflow: hidden;
    max-width: 400px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.intern-apply {
    margin: 20px 0;
    text-align: right;
}

.intern-body {
    padding: 10px 20px;
}

.intern-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 60px;
}

#size-fixed {
    height: 265px;
    object-fit: cover;
}

.internship-btn {
    margin: 30px 0px;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
}

.btn-div {
    display: flex;
    justify-content: end;
}


/* RESPONSIVE DESIGN  */

@media (max-width: 1325px) {
    .internships {
        width: 1000px;
    }

    .intern-title {
        width: 70%;
    }
}

@media (max-width: 1003px) {
    .internships {
        width: 700px;
    }

    .intern-title {
        width: 80%;
    }
}

@media (max-width: 725px) {
    .internships {
        width: 600px;
    }

    .intern-thumb {
        margin: 0 auto;
    }
}


@media (max-width: 625px) {
    .internships {
        width: 500px;
    }

    .intern-title {
        width: 100%;
    }
}

@media (max-width: 515px) {
    .internships {
        width: 400px;
    }
}

@media (max-width: 410px) {
    .internships {
        width: 350px;
    }

    .intern-thumb {
        max-width: 350px;
    }

    .intern-title>h1 {
        font-size: 30px;
    }

    .intern-title>p {
        font-size: 14px;
    }

    .internship-btn {
        margin: 30px 0px;
        font-size: 15px;
        padding: 8px 15px;
        border-radius: 5px;
    }
}