/* MAIN SECTION  */


.main-section {
    height: 700px;
    display: flex;
    align-items: center;
    position: relative;
}

.main-bg-img {
    background-image: url('../images/background/image.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.main-text {
    width: 1320px;
    margin: 0 auto;
    position: relative;
    color: white;
}

.main-text>h1 {
    font-size: 70px;
}

.main-text>h1>span {
    color: var(--green-color);
}

.rotate-letter {
    display: inline-block;
    transform: scaleX(-1);
}


.main-text-top {
    font-size: 20px;
    font-weight: bold;
}

.main-text-bottom {
    font-size: 18px;
}

.main-text-bottom>a {
    font-weight: bold;
    color: white;
}

.main-text>button {
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    padding: 0.625rem;
    border-radius: 0.313rem;
    cursor: pointer;
    margin-top: 0.938rem;
    color: white;
}



/* Responsive styles */


@media (max-width: 1325px) {
    .main-text{
        width: 1000px;
    }
}

@media (max-width: 1003px) {
    .main-text{
        width: 700px;
    }
    .main-text > h1{
        font-size: 55px;
    }
    .main-text-top {
        font-size: 15px;
    }
    .main-text-bottom{
        font-size: 13px;
    }
}

@media (max-width: 725px) {
    .main-text{
        width: 600px;
    }
    .main-text > h1{
        font-size: 50px;
    }
    .main-text-top {
        font-size: 15px;
    }
    .main-text-bottom{
        font-size: 13px;
    }
    .main-section{
        height: 650px;
    }
}


@media (max-width: 625px){
    .main-text{
        width: 500px;
    }
    .main-text > h1{
        font-size: 40px;
    }
    .main-text-top {
        font-size: 13px;
    }
    .main-text-bottom{
        font-size: 11px;
    }
    .main-section{
        height: 500px;
    }
}

@media (max-width: 515px) {
    .main-text{
        width: 400px;
    }
    .main-text > h1{
        font-size: 30px;
    }
    .main-text-top {
        font-size: 12px;
    }
    .main-text-bottom{
        font-size: 10px;
    }
}

@media (max-width: 410px){
    .main-text{
        width: 350px;
    }
    .main-section{
        height: 400px;
    }
    .animated-button{
        font-size: 12px;
        padding: 7px;
    }
}