/* NAVIGATION BAR  */

nav {
    width: 1320px;
    margin: 15px auto;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links>ul {
    display: flex;
    list-style: none;
}

.links>ul>li {
    margin: 0 1.563rem;
    cursor: pointer;
}

.links>ul>li>a>sup {
    animation: fadeInAndOut 1.5s infinite linear forwards;
}

@keyframes fadeInAndOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
