/* 2nd Last Bottom Section  */


.sl-section {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.background-image {
    background-image: url('../images/background/background.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    height: 100%;
    width: 100%;
    position: absolute;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content > h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: left;
}

.content > p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
    text-align: left;
}


/* RESPONSIVE DESIGN  */

@media (max-width: 1003px) {
    .content > h1{
        font-size: 32px;
    }

    .content > p{
        font-size: 18px;
    }
}

@media (max-width: 725px) {
    .content > h1{
        font-size: 25px;
    }
    .content > p{
        font-size: 15px;
    }
}


@media (max-width: 625px){
    .content > h1{
        font-size: 22px;
    }
    .content > p{
        font-size: 13px;
    }
}
